.menu {
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}


.menu a {
  display: block;
  font-size: 22px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
}

.menu a:hover {
  background-color: #153d2d;
  color: #fff;
}


/*-------------*/
.bgScreen{
  background-image: url('/assets/images/cool-background4.jpg');
  background-size: cover;
  background-size: 100% 100%;
  height: 100vh;
  min-width: 300px;
}

.loading-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.loading-indicator p {
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.loading-indicator i {
  font-size: 50px;
  color: white;
  margin-bottom: 10px;
  animation: fa-spin 1s infinite linear;
}

@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  width: 400px;
}

.button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #153d2d;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 100px;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}


.chat-box {
  background-color: white;
  border-radius: 5px;
  max-height: 400px;
  overflow-y: auto;
}

.chat-box-response {
  display: block;
  margin: 1%;
  padding: 1%;
  margin-bottom: 20px;
  font-size: 16px;
}

.chat-component-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-refazer,
.button-irPara {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 100px;
}

.button-refazer {
  background-color: #dc3545;
}

.button-irPara {
  background-color: #007bff;
}

.button-refazer:hover,
.button-irPara:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}


