<nav class="menu">
  <ul>
    <li><a href="#"><i class="fas fa-user"></i></a></li>
    <li><a href="#"><i class="fas fa-file-alt"></i></a></li>
    <li><a href="#"><i class="fas fa-envelope"></i></a></li>
    <li><a href="#"><i class="fas fa-bell"></i></a></li>
  </ul>
</nav>
<section class="container-fluid bgScreen">
  <div class="container-fluid">
    <div class="chat-component">
      <input class="input" [(ngModel)]="message" placeholder="informe seu negócio aqui...">
      <button class="button" [disabled]="!message" (click)="sendMessage(message)">Gerar</button>
        <div class="loading-indicator"*ngIf="isLoading">
          <i class="fas fa-spinner fa-spin"></i>
          <p>Sua solicitação está em processamento...</p>
        </div>
    </div>
    <div class="chat-box">
      <div class="chat-box-response" *ngFor="let message of response; let i = index" id="{{'response-' + i}}">
        <div class="response-header"><strong>{{customResponseHeaders[i]}}</strong></div>
        <div class="response-text">{{message}}</div>
      </div>
    </div>
    <div class="chat-component-buttons">
      <button class="btn btn-primary mx-2" routerLink="historic">Ver histórico</button>
      <button class="btn btn-success" (click)="saveResponse()">Salvar resposta</button>
    </div>
  </div>
</section>
