<section class="container-fluid bgScreen">
  <div class="container-fluid">
    <div class="chat-box">
      <div class="chat-box-response" *ngFor="let message of response; let i = index" id="{{'response-' + i}}">
        <div class="response-header"><strong>{{customResponseHeaders[i]}}</strong></div>
        <div class="response-text">{{message.answer}}</div>
      </div>
    </div>
    <div class="mt-3">
      <button class="btn btn-primary" routerLink="/chat">Voltar</button>
    </div>
  </div>
</section>

  
