.bgScreen{
    background-image: url('/assets/images/cool-background.png');
    background-size: cover;
    height: 100vh;
    min-width: 300px;
  }
  
  .formPosition{
    padding: 5%;
  }
  
  .formSize{
    padding: 50px;
    font: bolder;
  }
  
  .imgSize{
    padding-left: 25%;
    object-fit: cover;
  }