<section class="container-fluid bgScreen">
    <div class="h-custom">
      <div class="row d-flex justify-content-center align-items-center formPosition">
        <div class="col-md-8 col-lg-6 col-xl-4 mt-5 formSize">
          <form [formGroup]="userRegistryForm" (submit)="registryUser()">
            <h3 class="mt-2 mb-3">Cadastro</h3>
            <!-- User input -->
            <div class="form-outline mb-3 mt-2">
              <label class="form-label" for="nome">Nome</label>
              <input type="text" id="name" class="form-control form-control-lg" formControlName="name"
                placeholder="Digite seu Nome" />
            </div>

            <div class="form-outline mb-3 mt-2">
              <label class="form-label" for="email">Email</label>
              <input type="text" id="email" class="form-control form-control-lg" formControlName="email"
                placeholder="Digite seu Email" />
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3 mt-2">
              <label class="form-label" for="password">Senha</label>
              <input type="password" id="senha" class="form-control form-control-lg" formControlName="password"
                placeholder="Digite sua Senha" />
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Lembre-me
                </label>
              </div>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg">
              Cadastrar
              </button>
              <a class="mx-2 text-white" href="">
                Voltar para o Login
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  